.contenedor-form{
    width: 80%;
    margin: 50px;
  text-align: center;
}
.contenedor-informacion-personal{
    text-align: center;
    
}

.fieldset-contenedor-informacion-personal{
    width: 70%;
   margin-inline-start: 13%;
}

input{ 
    background-color: rgb(220, 215, 215);
    height: 30px;
    margin: 10px;
}

.input-mensaje{
    height: 100px;
    width: 600px;
  
}

.boton-enviar-form{
    margin: 10px;
    background-color: rgb(220, 215, 215);
    width:300px;
}

@media screen and (max-width:700px){
    .contenedor-form{
       margin: 0%;
        width: 95%;
        text-align: center;
    }
    .input-mensaje{
       
        width: 90%;
      
    }
    .boton-enviar-form{
        width:50%;
    }

    .fieldset-contenedor-informacion-personal{
      width: 90%;
      align-self: center;
       margin-inline-start: 0%;
    }
}
