.navegador-principal {
  display: flex;
  background-color: rgb(163, 162, 162);
  height: 5%;
}

.navegador-principal a {
  color: white;
  text-decoration: none;
  padding: 15px;
  margin-right: 10px;
  background: transparent;

}

.navegador-principal a:hover {
  color: black;
}

.contenedor-nav-logo {
  flex: 1;
  width: 70%;
  align-items: start;

}

.logo-texto-contenedor {
  display: flex;
  padding-left: 45px;
}

.logo-martillos-nav {
  height: 50px;
  width: 50px;
  border: none;
}

.letra-logo-cabecera {
  color: black;
  font-family: monospace;
}

.contenedor-nav-paginas {
  flex: 3;
  align-content: end;
  align-items: end;
  align-self: self-end;
  margin-bottom: 33px;
  justify-content: end;


}

.nav-toggle {
  display: none;
}

@media screen and (max-width:700px) {
  .contenedor-nav-paginas {
    position: absolute;
    top: 75px;
    left: 0;
    background: rgb(163, 162, 162);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    transform: translateX(-100%);
    transition: 0.03 ease all;
  }

  .contenedor-nav-paginas.open {
    transform: translateX(0);
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  .nav-toggle span {
    width: 30px;
    height: 4px;
    background: black;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .nav-toggle.open>span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .nav-toggle.open>span:nth-child(2) {
    display: none;
  }

  .nav-toggle.open>span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}