
 
 .h1-titulo{
     text-shadow:
      -1px -1px 0 #f9f5f5, 
      1px -1px 0 #f9f5f5,
       -1px 1px 0 #f9f5f5,
        1px 1px 0 #f9f5f5;
 }
 @media screen and (max-width:700px){
    .h1-titulo{
        padding-top:0;
        margin-right: 50px;
       margin-left: 50px;
    }
     
 }
 .h2-titulo{
     font-size: xx-large;
     text-shadow:
      -1px -1px 0 #f9f5f5, 
      1px -1px 0 #f9f5f5,
       -1px 1px 0 #f9f5f5,
        1px 1px 0 #f9f5f5;
 }